# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#Folder
build
log
Thirdparty/DBoW2/build
Thirdparty/g2o/build
cmake-build-debug
.idea
callgrind.out.*
output.callg
profile.prof
Performance_output_result

#File
Vocabulary/
*.eps
LearnVI_Drone
datasets
download_result
sample_data
script/KeyFrameTrajectory.txt
VIORB/Examples/Monocular/euro_imu
